### Fazendo a leitura dos dados

In [3]:
import pandas as pd

In [7]:
arquivo = r"M:\{estudos}\Python\Estudos-Python\Análise de Dados\ALURA - cursos Pandas\Pandas selecionando e agrupando dados\1-SEEG10_GERAL-BR_UF_2022.10.27-FINAL-SITE.xlsx"
emissoes_gases = pd.read_excel(arquivo, sheet_name = 'GEE Estados') #sheet_name aba da planilha

m:\apps no sd\Python\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [8]:
emissoes_gases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103312 entries, 0 to 103311
Data columns (total 63 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Nível 1 - Setor             103312 non-null  object
 1   Nível 2                     103312 non-null  object
 2   Nível 3                     103253 non-null  object
 3   Nível 4                     90920 non-null   object
 4   Nível 5                     100788 non-null  object
 5   Nível 6                     97691 non-null   object
 6   Emissão / Remoção / Bunker  103312 non-null  object
 7   Gás                         103312 non-null  object
 8   Estado                      97374 non-null   object
 9   Atividade Econômica         102076 non-null  object
 10  Produto                     37413 non-null   object
 11  1970                        103312 non-null  float64
 12  1971                        103312 non-null  float64
 13  1972                        103312 non-null  float64
 14  1973                        103312 non-null  float64
 15  1974                        103312 non-null  float64
 16  1975                        103312 non-null  float64
 17  1976                        103312 non-null  float64
 18  1977                        103312 non-null  float64
 19  1978                        103312 non-null  float64
 20  1979                        103312 non-null  float64
 21  1980                        103312 non-null  float64
 22  1981                        103312 non-null  float64
 23  1982                        103312 non-null  float64
 24  1983                        103312 non-null  float64
 25  1984                        103312 non-null  float64
 26  1985                        103312 non-null  float64
 27  1986                        103312 non-null  float64
 28  1987                        103312 non-null  float64
 29  1988                        103312 non-null  float64
 30  1989                        103312 non-null  float64
 31  1990                        103312 non-null  float64
 32  1991                        103312 non-null  float64
 33  1992                        103312 non-null  float64
 34  1993                        103312 non-null  float64
 35  1994                        103312 non-null  float64
 36  1995                        103312 non-null  float64
 37  1996                        103312 non-null  float64
 38  1997                        103312 non-null  float64
 39  1998                        103312 non-null  float64
 40  1999                        103312 non-null  float64
 41  2000                        103312 non-null  float64
 42  2001                        103312 non-null  float64
 43  2002                        103312 non-null  float64
 44  2003                        103312 non-null  float64
 45  2004                        103312 non-null  float64
 46  2005                        103312 non-null  float64
 47  2006                        103312 non-null  float64
 48  2007                        103312 non-null  float64
 49  2008                        103312 non-null  float64
 50  2009                        103312 non-null  float64
 51  2010                        103312 non-null  float64
 52  2011                        103312 non-null  float64
 53  2012                        103312 non-null  float64
 54  2013                        103312 non-null  float64
 55  2014                        103312 non-null  float64
 56  2015                        103312 non-null  float64
 57  2016                        103312 non-null  float64
 58  2017                        103312 non-null  float64
 59  2018                        103312 non-null  float64
 60  2019                        103312 non-null  float64
 61  2020                        103312 non-null  float64
 62  2021                        103312 non-null  float64
dtypes: float64(52), object(11)
memory usage: 49.7+ MB

In [ ]:
emissoes_gases['Emissão / Remoção / Bunker'].unique() # precisamos deletar linhas com Bunker, Remoção e Remoção NCI

array(['Emissão', 'Emissão NCI', 'Remoção NCI', 'Bunker', 'Remoção'],
      dtype=object)

In [11]:
emissoes_gases[emissoes_gases['Emissão / Remoção / Bunker'].isin(['Remoção NCI', 'Remoção'])].tail()

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Emissão / Remoção / Bunker,Gás,Estado,Atividade Econômica,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
102751,Mudança de Uso da Terra e Floresta,Remoção por Vegetação Secundária,Pantanal,em Área Protegida,Vegetação nativa estável,Vegetação não florestal secundária -- Vegetaçã...,Remoção,CO2e (t) GWP-AR4,MS,AGROPEC,...,-75130.0,-79119.0,-86959.0,-92014.0,-91494.0,-96302.0,-92020.0,-97623.0,-101502.0,-100891.0
102752,Mudança de Uso da Terra e Floresta,Remoção por Vegetação Secundária,Pantanal,em Área Protegida,Vegetação nativa estável,Vegetação não florestal secundária -- Vegetaçã...,Remoção,CO2e (t) GWP-AR5,MT,AGROPEC,...,-9523.0,-9667.0,-10003.0,-10242.0,-10272.0,-10191.0,-10469.0,-10904.0,-11041.0,-11095.0
102753,Mudança de Uso da Terra e Floresta,Remoção por Vegetação Secundária,Pantanal,em Área Protegida,Vegetação nativa estável,Vegetação não florestal secundária -- Vegetaçã...,Remoção,CO2e (t) GWP-AR5,MS,AGROPEC,...,-75130.0,-79119.0,-86959.0,-92014.0,-91494.0,-96302.0,-92020.0,-97623.0,-101502.0,-100891.0
102754,Mudança de Uso da Terra e Floresta,Remoção por Vegetação Secundária,Pantanal,em Área Protegida,Vegetação nativa estável,Vegetação não florestal secundária -- Vegetaçã...,Remoção,CO2e (t) GWP-AR6,MT,AGROPEC,...,-9523.0,-9667.0,-10003.0,-10242.0,-10272.0,-10191.0,-10469.0,-10904.0,-11041.0,-11095.0
102755,Mudança de Uso da Terra e Floresta,Remoção por Vegetação Secundária,Pantanal,em Área Protegida,Vegetação nativa estável,Vegetação não florestal secundária -- Vegetaçã...,Remoção,CO2e (t) GWP-AR6,MS,AGROPEC,...,-75130.0,-79119.0,-86959.0,-92014.0,-91494.0,-96302.0,-92020.0,-97623.0,-101502.0,-100891.0

In [ ]:
emissoes_gases.loc[emissoes_gases['Emissão / Remoção / Bunker'].isin(['Remoção NCI', 'Remoção']), 1970:2021].max # o isin acessa valores unique e acessando colunas com .loc

<bound method DataFrame.max of         1970  1971  1972  1973  1974  1975  1976  1977  1978  1979  ...  \
23520    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
23521    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
23522    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
23523    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
23524    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
...      ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
102751   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
102752   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
102753   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
102754   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
102755   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...

                2012          2013          2014          2015          2016  \
23520  -1.434540e+07 -1.499358e+07 -1.543196e+07 -1.567070e+07 -1.630063e+07
23521  -5.382949e+06 -5.524659e+06 -5.632429e+06 -5.765030e+06 -5.867354e+06
23522  -3.450455e+06 -3.540294e+06 -3.545724e+06 -3.924546e+06 -4.626541e+06
23523  -1.260166e+06 -1.261895e+06 -1.371664e+06 -1.501452e+06 -1.507705e+06
23524  -3.429279e+07 -3.317185e+07 -3.281628e+07 -3.350720e+07 -3.557183e+07
...              ...           ...           ...           ...           ...
102751 -7.513000e+04 -7.911900e+04 -8.695900e+04 -9.201400e+04 -9.149400e+04
102752 -9.523000e+03 -9.667000e+03 -1.000300e+04 -1.024200e+04 -1.027200e+04
102753 -7.513000e+04 -7.911900e+04 -8.695900e+04 -9.201400e+04 -9.149400e+04
102754 -9.523000e+03 -9.667000e+03 -1.000300e+04 -1.024200e+04 -1.027200e+04
102755 -7.513000e+04 -7.911900e+04 -8.695900e+04 -9.201400e+04 -9.149400e+04

                2017          2018          2019          2020          2021
23520  -1.702215e+07 -1.740074e+07 -1.771914e+07 -1.767632e+07 -1.838895e+07
23521  -5.942076e+06 -6.022000e+06 -6.002147e+06 -6.035591e+06 -6.459079e+06
23522  -4.874199e+06 -4.849173e+06 -4.959540e+06 -5.106806e+06 -5.809814e+06
23523  -1.509919e+06 -1.609826e+06 -1.616980e+06 -1.518397e+06 -1.926000e+06
23524  -3.755308e+07 -4.134614e+07 -4.229403e+07 -4.275448e+07 -4.443440e+07
...              ...           ...           ...           ...           ...
102751 -9.630200e+04 -9.202000e+04 -9.762300e+04 -1.015020e+05 -1.008910e+05
102752 -1.019100e+04 -1.046900e+04 -1.090400e+04 -1.104100e+04 -1.109500e+04
102753 -9.630200e+04 -9.202000e+04 -9.762300e+04 -1.015020e+05 -1.008910e+05
102754 -1.019100e+04 -1.046900e+04 -1.090400e+04 -1.104100e+04 -1.109500e+04
102755 -9.630200e+04 -9.202000e+04 -9.762300e+04 -1.015020e+05 -1.008910e+05

[7970 rows x 52 columns]>

In [16]:
# Dados referentes as emissões de Bunkers não são de estados específicos pois podem ser de viagens internacionais
emissoes_gases.loc[emissoes_gases['Emissão / Remoção / Bunker'] == 'Bunker', 'Estado'].unique()

array([nan], dtype=object)

In [20]:
emissoes_gases = emissoes_gases[emissoes_gases['Emissão / Remoção / Bunker'] == 'Emissão']
emissoes_gases = emissoes_gases.drop(columns='Emissão / Remoção / Bunker')
emissoes_gases.info()

<class 'pandas.core.frame.DataFrame'>
Index: 94748 entries, 0 to 103245
Data columns (total 62 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nível 1 - Setor      94748 non-null  object
 1   Nível 2              94748 non-null  object
 2   Nível 3              94689 non-null  object
 3   Nível 4              82422 non-null  object
 4   Nível 5              92290 non-null  object
 5   Nível 6              89207 non-null  object
 6   Gás                  94748 non-null  object
 7   Estado               88852 non-null  object
 8   Atividade Econômica  94703 non-null  object
 9   Produto              36198 non-null  object
 10  1970                 94748 non-null  float64
 11  1971                 94748 non-null  float64
 12  1972                 94748 non-null  float64
 13  1973                 94748 non-null  float64
 14  1974                 94748 non-null  float64
 15  1975                 94748 non-null  float64
 16  1976                 94748 non-null  float64
 17  1977                 94748 non-null  float64
 18  1978                 94748 non-null  float64
 19  1979                 94748 non-null  float64
 20  1980                 94748 non-null  float64
 21  1981                 94748 non-null  float64
 22  1982                 94748 non-null  float64
 23  1983                 94748 non-null  float64
 24  1984                 94748 non-null  float64
 25  1985                 94748 non-null  float64
 26  1986                 94748 non-null  float64
 27  1987                 94748 non-null  float64
 28  1988                 94748 non-null  float64
 29  1989                 94748 non-null  float64
 30  1990                 94748 non-null  float64
 31  1991                 94748 non-null  float64
 32  1992                 94748 non-null  float64
 33  1993                 94748 non-null  float64
 34  1994                 94748 non-null  float64
 35  1995                 94748 non-null  float64
 36  1996                 94748 non-null  float64
 37  1997                 94748 non-null  float64
 38  1998                 94748 non-null  float64
 39  1999                 94748 non-null  float64
 40  2000                 94748 non-null  float64
 41  2001                 94748 non-null  float64
 42  2002                 94748 non-null  float64
 43  2003                 94748 non-null  float64
 44  2004                 94748 non-null  float64
 45  2005                 94748 non-null  float64
 46  2006                 94748 non-null  float64
 47  2007                 94748 non-null  float64
 48  2008                 94748 non-null  float64
 49  2009                 94748 non-null  float64
 50  2010                 94748 non-null  float64
 51  2011                 94748 non-null  float64
 52  2012                 94748 non-null  float64
 53  2013                 94748 non-null  float64
 54  2014                 94748 non-null  float64
 55  2015                 94748 non-null  float64
 56  2016                 94748 non-null  float64
 57  2017                 94748 non-null  float64
 58  2018                 94748 non-null  float64
 59  2019                 94748 non-null  float64
 60  2020                 94748 non-null  float64
 61  2021                 94748 non-null  float64
dtypes: float64(52), object(10)
memory usage: 45.5+ MB

In [23]:
emissoes_gases['Nível 1 - Setor'].unique()

array(['Processos Industriais', 'Agropecuária', 'Energia', 'Resíduos ',
       'Mudança de Uso da Terra e Floresta'], dtype=object)

In [34]:
estados = emissoes_gases['Estado'].unique()
print(estados)
len(estados)

['SP' 'BA' 'RJ' 'MG' 'SE' 'PR' nan 'RO' 'AM' 'PA' 'TO' 'MA' 'PI' 'CE' 'RN'
 'PB' 'PE' 'AL' 'MT' 'MS' 'GO' 'DF' 'ES' 'SC' 'RS' 'AC' 'AP' 'RR']

28

In [43]:
emissoes_gases[emissoes_gases['Estado'].isin(['RS', 'SC', 'PR'])].tail()

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Gás,Estado,Atividade Econômica,Produto,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
103221,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pampa,NaN,Desmatamento,NaN,CO2e (t) GWP-AR2,RS,AGROPEC,NaN,...,1.108518e+06,1.479183e+06,9.718840e+05,9.948190e+05,769868.00000,9.057280e+05,9.238730e+05,1046432.0,1439095.0,1432812.0
103222,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pampa,NaN,Desmatamento,NaN,CO2e (t) GWP-AR4,RS,AGROPEC,NaN,...,1.196999e+06,1.599471e+06,1.045298e+06,1.070678e+06,830805.00000,9.748940e+05,9.924510e+05,1124747.0,1543126.0,1541087.0
103223,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pampa,NaN,Desmatamento,NaN,CO2e (t) GWP-AR5,RS,AGROPEC,NaN,...,1.221927e+06,1.635136e+06,1.062603e+06,1.089187e+06,847534.00000,9.918540e+05,1.007627e+06,1142614.0,1563684.0,1566694.0
103224,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pampa,NaN,Desmatamento,NaN,CO2e (t) GWP-AR6,RS,AGROPEC,NaN,...,1.232994e+06,1.649637e+06,1.072887e+06,1.099601e+06,855306.00000,1.001321e+06,1.017557e+06,1153771.0,1579514.0,1581831.0
103225,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pampa,NaN,Desmatamento,NaN,N2O (t),RS,AGROPEC,NaN,...,1.726602e+03,2.272649e+03,1.572510e+03,1.599308e+03,1206.48646,1.454739e+03,1.511353e+03,1704.0,2399.0,2313.0

In [45]:
emissoes_gases[(emissoes_gases['Nível 1 - Setor'] == 'Mudança de Uso da Terra e Floresta') & (emissoes_gases['Estado'] == 'AM')].info()

<class 'pandas.core.frame.DataFrame'>
Index: 228 entries, 81262 to 102839
Data columns (total 62 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nível 1 - Setor      228 non-null    object
 1   Nível 2              228 non-null    object
 2   Nível 3              228 non-null    object
 3   Nível 4              218 non-null    object
 4   Nível 5              228 non-null    object
 5   Nível 6              216 non-null    object
 6   Gás                  228 non-null    object
 7   Estado               228 non-null    object
 8   Atividade Econômica  228 non-null    object
 9   Produto              0 non-null      object
 10  1970                 228 non-null    float64
 11  1971                 228 non-null    float64
 12  1972                 228 non-null    float64
 13  1973                 228 non-null    float64
 14  1974                 228 non-null    float64
 15  1975                 228 non-null    float64
 16  1976                 228 non-null    float64
 17  1977                 228 non-null    float64
 18  1978                 228 non-null    float64
 19  1979                 228 non-null    float64
 20  1980                 228 non-null    float64
 21  1981                 228 non-null    float64
 22  1982                 228 non-null    float64
 23  1983                 228 non-null    float64
 24  1984                 228 non-null    float64
 25  1985                 228 non-null    float64
 26  1986                 228 non-null    float64
 27  1987                 228 non-null    float64
 28  1988                 228 non-null    float64
 29  1989                 228 non-null    float64
 30  1990                 228 non-null    float64
 31  1991                 228 non-null    float64
 32  1992                 228 non-null    float64
 33  1993                 228 non-null    float64
 34  1994                 228 non-null    float64
 35  1995                 228 non-null    float64
 36  1996                 228 non-null    float64
 37  1997                 228 non-null    float64
 38  1998                 228 non-null    float64
 39  1999                 228 non-null    float64
 40  2000                 228 non-null    float64
 41  2001                 228 non-null    float64
 42  2002                 228 non-null    float64
 43  2003                 228 non-null    float64
 44  2004                 228 non-null    float64
 45  2005                 228 non-null    float64
 46  2006                 228 non-null    float64
 47  2007                 228 non-null    float64
 48  2008                 228 non-null    float64
 49  2009                 228 non-null    float64
 50  2010                 228 non-null    float64
 51  2011                 228 non-null    float64
 52  2012                 228 non-null    float64
 53  2013                 228 non-null    float64
 54  2014                 228 non-null    float64
 55  2015                 228 non-null    float64
 56  2016                 228 non-null    float64
 57  2017                 228 non-null    float64
 58  2018                 228 non-null    float64
 59  2019                 228 non-null    float64
 60  2020                 228 non-null    float64
 61  2021                 228 non-null    float64
dtypes: float64(52), object(10)
memory usage: 112.2+ KB

In [47]:
emissoes_gases.loc[(emissoes_gases['Nível 1 - Setor'] == 'Agropecuária') & (emissoes_gases['Estado'] == 'PA'), 2021].max()

np.float64(36856969.7986)

### Modificando o formato do DataFrame

In [50]:
colunas_info = list(emissoes_gases.loc[:, 'Nível 1 - Setor':'Produto'].columns)
colunas_info

['Nível 1 - Setor',
 'Nível 2',
 'Nível 3',
 'Nível 4',
 'Nível 5',
 'Nível 6',
 'Gás',
 'Estado',
 'Atividade Econômica',
 'Produto']

In [51]:
colunas_anos = list(emissoes_gases.loc[:,1970:2021].columns)

In [ ]:
# mudança do formato wide para o formato long com o método melt()
emissoes_ano = emissoes_gases.melt(id_vars= colunas_info, value_vars= colunas_anos, var_name= 'Ano', value_name='Emissão')
emissoes_ano

,Nível 1 - Setor,Nível 2,Nível 3,Nível 4,Nível 5,Nível 6,Gás,Estado,Atividade Econômica,Produto,Ano,Emissão
0,Processos Industriais,Indústria Química,Produção de ABS,NaN,NaN,NaN,COVNM (t),SP,OUTRA_IND,NaN,1970,0.0
1,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,N2O (t),SP,OUTRA_IND,NaN,1970,6210.0
2,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,CO (t),SP,OUTRA_IND,NaN,1970,368.0
3,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,NOx (t),SP,OUTRA_IND,NaN,1970,115.0
4,Processos Industriais,Indústria Química,Produção de Ácido Adípico,NaN,NaN,NaN,CO2e (t) GWP-AR2,SP,OUTRA_IND,NaN,1970,1925100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4926891,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pantanal,NaN,Desmatamento,NaN,CO2e (t) GWP-AR5,MS,AGROPEC,NaN,2021,1004191.0
4926892,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pantanal,NaN,Desmatamento,NaN,CO2e (t) GWP-AR6,MT,AGROPEC,NaN,2021,443120.0
4926893,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pantanal,NaN,Desmatamento,NaN,CO2e (t) GWP-AR6,MS,AGROPEC,NaN,2021,1009968.0
4926894,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pantanal,NaN,Desmatamento,NaN,N2O (t),MT,AGROPEC,NaN,2021,479.0
4926895,Mudança de Uso da Terra e Floresta,Resíduos Florestais,Pantanal,NaN,Desmatamento,NaN,N2O (t),MS,AGROPEC,NaN,2021,1047.0

### Agrupando os gases